<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-search [msg]="msg"></app-search>
    </div>
    <div class="col-md-9">
      <app-carousel></app-carousel>
    </div>
    <div class="row">
      <app-product></app-product>
    </div>
  </div>
</div>
<app-footer></app-footer>
<hr/>
<!--练习用的-->
<a [routerLink]="['/',1]">主页</a>
<a [routerLink]="['/product', 3]">商品详情</a>   <!-- 另一种方式  [queryParams]="{id:1}"-->
<input type="button" value="商品详情" (click)="toProductDetails()">
<router-outlet></router-outlet>
<hr>
  <app-a  (buy)="buyHandler($event)"></app-a>
  这是子组件传递给父组件的数据{{priceQuote.stockCode}}
  股票价格是{{priceQuote.lastPrice}}
  <hr>
  <app-b [priceQuote]="priceQuote"></app-b>

<hr>
<app-my-form></app-my-form>


